#blue{
    color: blue;
    text-align: end;
}

header{
    font-family: 'Nanum Brush Script', cursive;
    padding: 20px;
    align-content: center;
    text-align: center;
    color:rgba(235, 165, 16, 0.856);
    font-size: 40px;
}

<style>
.map .root_daum_roughmap {width:100%!important;}
</style>